header .hwrapper,
header .sticky{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.5s;
    padding: 20px 0;
    z-index: 999;
    background: #1e4356;
}

.home header .hwrapper{
    background:none;
}

header .sticky{
    background: rgba(30, 67, 86, 0.8);
    padding:10px 0;
}

header{
    min-height:81px;
}

.home header{
    min-height:0;
}