.sliderWrapper {
    width: 100%;
    height: 95vh;
    overflow: hidden;
    position: relative;
    padding:140px 0 60px;
}

.sliderWrapper:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 96%;
    background: #68A4C4;
    opacity: 0.3;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) translateY(18px) rotate(2deg);
}

.sliderWrapper:after {
    content: ' ';
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 95%;
    background: linear-gradient(to right, rgba(30, 67, 86, 0.8), rgba(30, 67, 86, 0.6)), url(../images/hero-bg.jpg) center top no-repeat;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) rotate(0deg);
}

.sliderItem{
    max-width: 60%;
}

.slick-slider{
    z-index: 99;
    text-align: center;
}

.sliderWrapper h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}

.sliderWrapper p {
    color: #fff;
     
}

.sliderWrapper .btn-get-started {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    border: 2px solid #68A4C4;
}

.slick-arrow{
    position: absolute;
    top: 50%;
    font-size: 0;
    font-weight: bold;
    border: 0;
    background: none;
    font-family: 'boxicons'!important;
    color: #fff;
    opacity: .5;
    z-index: 99;
}

.slick-arrow.slick-prev{
    left:0
}

.slick-arrow.slick-prev:before {
    content: "\e9f9";
    font-size: 48px;
    line-height: 1;
}

.slick-arrow.slick-next{
    right: 0;
}

.slick-arrow.slick-next:before {
    content: "\e9fa";
    font-size: 48px;
    line-height: 1;
}







@media (max-width: 991px) {
    .sliderWrapper {
        
        height:100%; 
        padding:100px 0 60px;
    }
    .sliderWrapper h2 {
        
        margin-bottom:20px;
        font-size:35px;
    }

    .slick-arrow {
       
        top: 42%;
    }



}




@media (max-width:500px) {
     
    .sliderWrapper h2 {
        
        margin-bottom:20px;
        font-size:30px;
    }
    .sliderWrapper p {
        color: #fff;
        font-size: 0.9rem;
    }
    

}